* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    text-align: center;
}

/* Header / Navigation Bar */
header {
  background-color: #0d47a1; /* Deep blue shade */
  color: white;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 1.8em;
  font-weight: bold;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #c5cae9; /* lighter blue when hovered */
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    color: #250e81;
    padding: 10px 20px;
    font-size: 18px;
}

/* SECTIONS */
section {
    background-color: white;
    margin: 30px auto;
    width: 80%;
    max-width: 900px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

section h2 {
    color:  #250e81;
    margin-bottom: 15px;
}

/* ABOUT IMAGE */
img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 150px;
    border: 3px solid #250e81;
}

/* TABLE */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #250e81;
}

th, td {
    border: 1px solid #250e81;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #250e81;
    color: white;
}

/* PROJECTS */
ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

ul li {
    background: #fafafa;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

/* FORM */
form {
    margin-top: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input,
form textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #250e81;
    border-radius: 4px;
}

form input[type="submit"] {
    width: auto;
    background-color: #250e81;
    color: white;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #250e81;
}

/* FOOTER */
footer {
    background-color:  #250e81;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

footer a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

#backtotop, footer nav a {
    background-color: #120253 ;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
}